

# bash utils
/*.sh

# DLLs
/*.dll

# build folder
/bin/

# vscode crap
/.vscode/

# build targets
/win/
/bin/
/build/

# releases
/*jumpy_tanx*/
/*jumpy_tanx*.zip

# changes to libraries should be rare
/libraries/

