

# bash utils
/*.sh

# DLLs / shared libraries
/*.dll
/*.a

# vscode crap
/.vscode/

# build folders
/win/
/bin/
/build/
/bin-win/
/bin-lin/

# releases
/*jumpy_tanx*/
/*jumpy_tanx*.zip

# changes to libraries should be rare
/libraries/

# glfw docs
/libraries/glfw-3.3.2/docs

# cmake stuff
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
/Makefile



